{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}查看会议室{% endblock %}  
  
{% block content %}  

{% input {display: block; padding: 0; margin: 0; border: 0; width: 100%;}
td {margin: 0; padding: 0;} %} 

<div class="container">
    <h1>You're a guest looking at {{event.name}} id is {{event.id}}</h1>
</div>
  

<div class="col-md-12 col-md-offset-0">
	<h3>Guest Questions</h3>
	<div class="col-md-5 col-md">
		<table class="table table-hover">
			<thead>
				<th>Text Questions</th>
			</thead>
			
			<tbody>
				{% for tq in text_questions %}
				<tr>
					<td>  {{tq.question_text}}  </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-5 col-md">
		<table class="table table-hover" >
			<thead>
				<th>My Responses</th>
				</thead>
			<tbody>
				{% for t in text_responses %}
				{% if t.count > 0 %}
				<tr>
					<td><input type="text" value = "{{ t.first.response_text }}"/> </td>
					<td>
            <button class="btn btn primary btn-block" onclick="canView1({{tq.id}})">Save Change</button> 
          </td>  
				</tr>
				{% else %}
				<tr>
					<td>  Not answered yet.</td>
						
				</tr>
				{% endif  %}
				{% endfor %}
				
			</tbody>
				
		</table>
	</div>
	
	<div class="col-md-4 col-md">
		<table class="table table-hover">
			<thead>
				<th>Choice Questions</th>
				<th>Finalized</th>
				<th>Reselect</th>
			</thead>
			
			<tbody>
				{% for c in choice_questions %}
				<tr>
					<td>  {{ c.question_text }}</td>
					<td>  {{ c.finalized }} </td>
					<td><select> {% for choice in c.choice_set.all %}
              <option>{{choice.choice_text}}</option>
              {% endfor %}
          </select></td>
				</tr>
				{% endfor %}
			</tbody>
			
		</table>
	</div>

	<div class="col-md-3 col-md">
		<table class="table table-hover">
			<thead>
				<th>My Choices</th>
			</thead>
			
			<tbody>
				{% for cr in choiceresponse %}
				{% if cr.count > 0 %}
				<tr>
					<td>  {{cr.first.choice_text}} </td>
				</tr>
				{% else %}
				<tr>
					<td>  Not answered yet </td>
				</tr>
				{% endif  %}
				{% endfor %}
			</tbody>
		</table>
		
	</div>
</div>
{% endblock %}
