{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}View my events{% endblock %}  
  
{% block content %}  
 

<div class="container">  
    <div class="row">  
        <div class="col-md-10 col-md-offset-1">  
            <div class="col-md-9 col-md-offset-1">  
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Owner Name</th>
                            <th><a href="/rsvp/add/?id={{event.id}}">Add new owner</th> 
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for owner in owners %}  
                        <tr>  
                            <td> {{owner.user.name}}</td>  
                            <!-- <td><a href="/rsvp/edit/?id={{event.id}}">Edit</a></td>    -->
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table> 
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Vendor Name</th>  
                            <th><a href="/rsvp/add/?id={{event.id}}">Add new vendor</th> 
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for vendor in vendors %}  
                        <tr>  
                            <td>  {{ vendor.user.name }}  </td>  
                            <!-- <td><a href="/rsvp/edit/?id={{order.id}}">Edit</a></td>    -->
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table> 
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Guest Name</th>  
                            <th><a href="/rsvp/add/?id={{event.id}}">Add new guest</th> 
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for guest in guests %}  
                        <tr>  
                            <td>  {{ guest.user.name }}  </td>  
                            <!-- <td><a href="/rsvp/edit/?id={{order.id}}">Edit</a></td> -->   
                        </tr> 
                        {% endfor %}  
                    </tbody>  
                </table>      
            </div> 
        </div>  
    </div> 
    <form method="POST" role="form" class="form-horizontal" id="post-form">  
        {% csrf_token %}  
        <h1 class="form-signin-heading text-center">Text Question</h1>  
        <div class="col-md-7 col-md-offset-2">  
            <input type="text" class="form-control" required name="question_text" id="the_post" autofocus="">  
        </div>    
        <div class="col-md-2">
        <input type="submit" value="Add" class="btn btn btn-primary btn-block" id="btn">
        </div>
        <!-- <button class="btn btn btn-primary btn-block" onclick="myFunction()">add</button> -->
    </form>
    <div class="col-md-9 col-md-offset-1"> 
        <table class="table table-hover" id="questions_table">  
            <thead>
                <th>Text Questions</th>  
            </thead>  

            <tbody>  
                {% for tq in text_questions %}  
                    <tr>  
                        <td>  <li><strong>{{ tq.question_text }}</strong></li> </td>
                        <td><strong>Vendors: </strong>
                        <select id="cv1{{tq.id}}">
                            {% for vendor in vendors %}
                            <option>{{vendor.user.name}}</option>
                            {% endfor %}
                        </select></td>
                        <td>
                        <!-- <form method="POST" class="can-view1"> 
                            {% csrf_token %}
                             <input type="submit" value="Can view" class="btn btn btn-primary btn-block" id="{{tq.id}}">
                        </form> -->
                        <button class="btn btn primary btn-block" onclick="canView1({{tq.id}})">Can view</button> 
                        </td>
                        </td>   
                    </tr> 

                {% endfor %}  
            </tbody>

        </table>  
     </div>  
     <form method="POST" role="form" class="form-horizontal" id="post-form2"> 
     {% csrf_token %} 
        <div class="col-md-6 col-md-offset-3"> 
            <h1 class="form-signin-heading text-center">Multiple-Choice Question</h1>
        </div>
        <div class="col-md-7 col-md-offset-1">  
            <input type="text" class="form-control" required name="choice_text" id="the_post2" autofocus="">  
        </div>
        <div class="col-md-1">  
            <input type="number" class="form-control" id="choicenumber" min="2" placeholder="2">
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary btn-block" id="btn2" value="Add">
        </div>
        <div id = "container" class="question col-md-8" style="margin-top: 20px"></div> 
    </form> 
    <div class="col-md-9 col-md-offset-1"> 
        <table class="table table-hover" id="choice_questions_table">  
            <thead>
                <th>Choice Questions</th>  
            </thead>  

            <tbody>  
                {% for cq in choice_questions %}  
                    <tr>  
                        <td>  <li><strong>{{ cq.question_text }}</strong></li> </td>
                        <td><strong>Vendors: </strong><select id="cv2{{cq.id}}">
                            {% for vendor in vendors %}
                            <option>{{vendor.user.name}}</option>
                            {% endfor %}
                        </select></td> 
                        <td><strong>Choices: </strong><select>
                            {% for c in cq.choice_set.all %}
                            <option>{{c.choice_text}}</option>
                            {% endfor %}
                        </select></td>
                        <td>
                        <!-- <form method="POST" id="can-view2"> 
                            {% csrf_token %}
                             <input type="submit" value="Can view" class="btn btn btn-primary btn-block">
                        </form>  --> 
                        <button class="btn btn primary btn-block" onclick="canView2({{cq.id}})">Can view</button> 
                        </td>
                    </tr> 

                {% endfor %}  
            </tbody>

        </table>  
     </div> 
</div>  
 {% block javascript %}
    <script>
    //text qustion ajax post
    function canView1(id){
        console.log(id)
        var text = $("#"+"cv1"+id+" option:selected").text()
        console.log(text)
        $.ajax({
            url: '/rsvp/can_view1/?id='+id,
            type: "POST",
            data: {
                'tq_id': id,
                'vendor_name': $("#"+"cv1"+id+" option:selected").text(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                console.log(data)
            }
        })
    }
    //multiple choice ajax post
    function canView2(id){
        console.log(id)
        var text = $("#"+"cv2"+id+" option:selected").text()
        console.log(text)
        $.ajax({
            url: '/rsvp/can_view2/?id='+id,
            type: "POST",
            data: {
                'cq_id': id,
                'vendor_name': $("#"+"cv2"+id+" option:selected").text(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                console.log(data)
            }
        })
    }

    $('#post-form').on('submit',function(e){
        console.log("click submit on event")
        e.preventDefault()
        $.ajax({
            url: '/rsvp/create_question/?id={{event.id}}',
            type: "POST",
            data: {
                'question_text':$('#the_post').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                console.log(data)
                $('#the_post').val('')
                $("#questions_table").prepend("<tr><td><li><strong>"+data.text+"</strong></li></td><td><strong>Vendors: </strong><select id='sel0'></select></td></tr>")
                for (c in data.vendors) {
                    $('#sel0').append("<option>"+data.vendors[c]+"</option>")
                }
            }
        })
    });

    $('#post-form2').on('submit',function(e){
        e.preventDefault()
        console.log("click submit on event")
        var choices = grab_choices()

        $.ajax({
            url: '/rsvp/create_multi_choices_question/?id={{event.id}}',
            type: "POST",
            data: {
                'question_text':$('#the_post2').val(),
                'choices[]': choices,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                console.log(data)
                $('#the_post2').val('')
                $("#choice_questions_table").prepend("<tr><td><li><strong>"+data.text+"</strong></li></td><td><select id='sel'></select></td><td><select id='sel2'></select></td></tr>")
                for (c in data.choices) {
                    $('#sel').append("<option>"+data.choices[c]+"</option>")
                }
                for (c in data.vendors) {
                    $('#sel2').append("<option>"+data.vendors[c]+"</option>")
                }
            }
        })
    });

    $('#choicenumber').on('change',function(){
        var number = this.value;
        $('#container').html('');
        for (i=0;i<number;i++){
            $('#container').append("<div class='form-group'><label for='id_event_name' class='col-md-4 control-label'>choice" + (i+1)+"</label><div class='col-md-8'><input type='text' class='form-control choices' required name='choices' autofocus></div></div>")
        }
    })
    function grab_choices(){
        var choices = [];
        $('.choices').each(function(){
            console.log($(this).val())
            choices.push($(this).val())
        });
        return choices;
    }
    </script>
  
{% endblock %} 


{% endblock %}